@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&family=Roboto+Slab:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.m-20{
    margin: 20px;
} 

.mb-20{
    margin-bottom: 20px;
}

.text-center{
    text-align: center;
}

.text-end{
    text-align: right;
}

.card{
    width: 350px;
    border: 1px solid black;
    border-radius: 15px;
    display: inline-block;
    /* overflow: hidden; */
    vertical-align: top;
}   

.card-body{
    padding: 20px;
}

.card-title{
    font-family: 'Roboto Slab', serif;
    margin-bottom: 10px;
}

.card-text{
    font-family: 'Raleway', sans-serif;
    line-height: 25px;
}

.card-img{
    display: block;
    width: 100%;
}

.card-img-top{
    border-radius: 15px 15px 0 0;
}

.card-img-bottom{
    border-radius: 0 0 15px 15px;
}

.card-icon{
    margin-bottom: 10px;
    transition: .6s;
}

.card:hover .card-icon{
    color: aqua;
    transform: scale(1.2);
}

.card-btn{
    height: 45px;
    border: 1px solid black;
    background-color: black;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    text-decoration: none;
    padding: 0 15px;
    line-height: 45px;
    border-radius: 8px;
}

.card-btn-link{
    height: 45px;
    border: 1px solid transparent;
    background-color: transparent;
    color: #000000;
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    text-decoration: none;
    padding: 0 15px;
    line-height: 45px;
    border-radius: 8px;
}

.card-btn-outside-bottom{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 130px;
    text-align: center;
    margin-bottom: -22.5px;
}

.card-btn-half{
    float: right;
    margin-top: -22.5px;
    position: relative;
}
